<!Doctype HTML>
<html>
<head>
<title>The Covenant Battle Net</title>
<link rel="shortcut icon" href="/favicon.ico" >
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="CBNHC.css">
</head>
<body>
<header>
 <hgroup>
<h1>The Covenant Battle Net</h1>
      <h2>A member of the Silver Star Alliance</h2>
    </hgroup>
	 <nav>
      <ul>
        <li><a href="index.html">Central Command</a></li>
        <li><a href="login.html">Login/Registration</a></li>
        <li><a href="Information.html">Information</a></li>
    <li><a href="tags/chico.html">Tags</a></li>
      </ul>
    </nav>
	<h3>Welcome to the Covenant Social Media Center</h3>
	<h4> <img src="2.jpg" width="64" height="52"></h4>
	</header>
	<div id="content-area">
			<p>
    <%= render :partial => "form", :locals => {:form_options => {:url => users_path}} %>


			<%=link_to "Not a user?! How dare you! Lucky for you, Registration is open!", new_user_path %>
			</p>
  </form>
	<img src="gregg.jpg" width="500" height="450">;
	</div>

</body>
<footer id="footer">
    &copy; Copyright Joshua Hunter,2012
	&copy; Copyright Starlight Studios, 2012
	<p>&copy; Copyright Covenant Battle Net High Command, Central Command Fortress Daedalus</p>
	<div>&copy; Copyright Vector Industries</div>
  </footer>
</html>
